<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="alert alert-primary" role="alert">
					<a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
					<a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
					<a href="/chat" class="btn btn-primary btn-sm">Chat</a>
				</div>
			</p>
		</div>
		
		<div class="col-md-4">
			
			<p><h4>Editar persona</h4></p>
			<form action="/persona/update/<%= persona.id %>" method="POST">
				<div class="form-group">
				  <label>Nombres:</label>
				  <input type="text" class="form-control" name="nombres" required="" value="<%= persona.nombres %>">
				</div>
				<div class="form-group">
				  <label>Apellidos:</label>
				  <input type="text" class="form-control" name="apellidos" required="" value="<%= persona.apellidos %>">
				</div>
				<div class="form-group">
				  <label>Edad:</label>
				  <input type="number" class="form-control" name="edad" required="" value="<%= persona.edad %>">
				</div>
		      	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
		        <a href="/persona" type="button" class="btn btn-secondary">volver</a>
				<button type="submit" class="btn btn-success">Guardar</button>
		     </form>
		</div>
	</div>
</div>