<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="alert alert-primary" role="alert">
					<a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
					<a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
					<a href="/chat" class="btn btn-primary btn-sm">Chat</a>
        <a href="/mapa" class="btn btn-primary btn-sm">Mapa</a>
				</div>
			</p>

			<p>
				<h1>Lista de Personas</h1>
			</p>
			<p>
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
				  <b>&#43;</b> Nueva Persona
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content ">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Nueva Persona</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <form action="/persona/create" method="POST">
				      <div class="modal-body">
						  <div class="form-group">
						    <label>Nombres:</label>
						    <input type="text" class="form-control" name="nombres" required="">
						  </div>
						  <div class="form-group">
						    <label>Apellidos:</label>
						    <input type="text" class="form-control" name="apellidos" required="">
						  </div>
						  <div class="form-group">
						    <label>Edad:</label>
						    <input type="number" class="form-control" name="edad" required="">
						  </div>
				      </div>
				      <div class="modal-footer">
				      	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success">Guardar</button>
				      </div>
				      </form>
				    </div>
				  </div>
				</div>
			</p>
			<table class="table table-hover">
				<thead>
				  <tr>
				    <th>#</th>
				    <th>Nombres</th>
				    <th>Apellidos</th>
				    <th>Edad</th>
				    <th>Acciones</th>
				  </tr>
				</thead>
				<tbody>
				  <% _.each(personas, function(persona) { %>
				  <tr data-id="<%= persona.id %>" data-model="persona">
				    <th scope="row"><%= persona.id %></th>
				    <td><%= persona.nombres %></td>
				    <td><%= persona.apellidos %></td>
				    <td><%= persona.edad %></td>
				    <td>
				    	<a href="/persona/mascotas/<%= persona.id %>" class="btn btn-info btn-sm"> Ver Mascotas</a>
				    	<a href="/persona/edit/<%= persona.id %>" class="btn btn-warning btn-sm"> Actualizar</a>
				    	<a href="/persona/destroy/<%= persona.id %>" class="btn btn-danger btn-sm"> Eliminar</a>
				    </td>
				  </tr>
				  <% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>
