<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p><h1><%= __('Titulo') %></h1></p>

			<div class="alert alert-primary" role="alert">
				<a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
				<a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
				<a href="/chat" class="btn btn-primary btn-sm">Chat</a>
        <a href="/mapa" class="btn btn-primary btn-sm">Mapa</a>
			</div>

		</div>
	</div>
</div>
