<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="alert alert-primary" role="alert">
					<a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
					<a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
					<a href="/chat" class="btn btn-primary btn-sm">Chat</a>
        <a href="/mapa" class="btn btn-primary btn-sm">Mapa</a>
				</div>
			</p>
			<p>
				<h1> Chat</h1>
			</p>

      <div id="ingresar" class="input-group mb-3 col-md-4 middle">
        <input id="user" type="text" class="form-control" placeholder="Nickname" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button id="obtener-mensajes" class="btn btn-primary" type="button">Ingresar</button>
        </div>
      </div>


			<div class="row" id="sala-chat" style="display: none">
				<div class="col-md-12">
					<h5 class="text-center"><span class="badge badge-dark">Sala de chat</span></h5>
          <div id="usuarios">

          </div>
					<div style="border: solid #eee 2px; border-radius: 10px; padding: 15px; background-color: #fafafa; max-height: 300px; min-height: 300px; overflow-y: scroll;">
						<div id="lista-mensajes">
						</div>
					</div>
          <strong id="status" class="float-right" style="font-style: italic;font-size: 12px;"></strong>
					<br>
						<form action="#" method="POST">
							<div class="form-group" style="text-align: right;">
							  <p>
			  				  <textarea class="form-control" id="mensaje" rows="3"></textarea>
			  				  </p>
			  				  <a id="enviar-mensaje" href="#" class="btn btn-info">Enviar Mensaje</a>
			  				</div>
						</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

  var username="";
// Attach a listener which fires when a connection is established:
io.socket.on('connect', function socketConnected() {

	$("#obtener-mensajes").click(function(){

      $('#ingresar').hide(100);
    	$('#sala-chat').show(1000);
    	username=$('#user').val();
    	io.socket.post("/mensaje/subscribe",{user:username});
    });

	  io.socket.on('users',function (data) {
      $('#usuarios').append("<h7 class='text-center' style='margin-right: 5px;'><span class='badge badge-success'>"+data.user+"</span></h7>");
    });

    io.socket.on('message', function (data){
	  console.log(data.alerta);
	  var type="secondary";
	  var align="left";
	  if(username===data.user){
	    align="right";
	    type="info";
    }
	  $('#lista-mensajes').append("<h5 class='text-center float-"+align+"' style='margin-right: 5px;'><span class='badge badge-"+type+"'>"+data.alerta+"</span></h5></br>");
	});

    $("#enviar-mensaje").click(function(){
    	var mensaje = $("#mensaje").val();
      $("#mensaje").val('');
    	console.log(mensaje);
    	io.socket.post('/mensaje/publicar', {room: 'chat', mensaje: mensaje,user:username});
      io.socket.post('/mensaje/escribiendo', {room: 'chat', value:false,user:username});
    });

    var escribiendo=false;
  $("#mensaje").on('input',function(e){
    if($("#mensaje").val().length>0){
        io.socket.post('/mensaje/escribiendo', {room: 'chat', value:true, user:username});
    }else{
        io.socket.post('/mensaje/escribiendo', {room: 'chat', value:false,user:username});
    }
  });

  io.socket.on('status',function (data) {

    if($("#mensaje").val().length==0){
      $("#status").text(data.alerta);
    }
  });


    console.log('Socket is now connected!');

    // When the socket disconnects, hide the UI until we reconnect.
    io.socket.on('disconnect', function() {
      // Hide the main UI
      	$('#ingresar').show(100);
    	$('#sala-chat').hide(1000);
    });

});

</script>
