
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
      <div class="alert alert-primary" role="alert">
        <a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
        <a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
        <a href="/chat" class="btn btn-primary btn-sm">Chat</a>
        <a href="/mapa" class="btn btn-primary btn-sm">Mapa</a>
      </div>
      </p>
      <p>
      <h1> Información de Hardware</h1>
      </p>

      <div id="conectarse">
        <button id="conectar" class="btn btn-info" type="button">Conectarse</button>
      </div>

      <div id="contenido" style="display: none">
        <div class="input-group col-md-4">
          <select class="custom-select" id="punto">
            <option value="caj1" selected>Cajamarca 1</option>
            <option value="caj2">Cajamarca 2</option>
          </select>
          <div class="input-group-append">
            <button id="verde" class="btn btn-outline-secondary" type="button">Verde</button>
            <button id="rojo" class="btn btn-outline-secondary" type="button">Rojo</button>
          </div>
        </div>

        <br>
      </div>

      <div style="width:100%; height:70%" id="mapa"></div>



    </div>
  </div>
</div>



<script>

  io.socket.on('connect', function socketConnected() {


    $("#conectar").click(function () {

      $("#conectarse").hide(1000);
      $("#contenido").show(1000);

      io.socket.get("/mapa/conectar",function (data) {
        console.log(data.message);
      });
    });

    io.socket.on('cambio',function (data) {

      var fs = vectorSource.getFeatures();
      for (var i = 0; i < fs.length; i++) {
        var name = fs[i].getProperties().name;

        if (name === data.punto) {
          if(data.style==='1'){
            fs[i].setStyle(iconStyle);
          }

          if(data.style==='2'){
            fs[i].setStyle(iconStyle2);
          }

        }
      }

    });



//icono
    var iconFeature = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.transform([-78.516235, -7.149137], 'EPSG:4326', 'EPSG:3857')),
      name: 'caj1',
      population: 4000,
      rainfall: 500
    });

    var iconFeature2 = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.transform([-78.5, -7.149137], 'EPSG:4326', 'EPSG:3857')),
      name: 'caj2',
      population: 4000,
      rainfall: 500
    });

    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 46],
        anchorXUnits: 'fraction',
        anchorYUnits: 'pixels',
        src: 'http://localhost:1337/images/marker1.png'
      }))
    });

    var iconStyle2 = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 46],
        anchorXUnits: 'fraction',
        anchorYUnits: 'pixels',
        src: 'http://localhost:1337/images/marker2.png'
      }))
    });


    iconFeature.setStyle(iconStyle);
    iconFeature2.setStyle(iconStyle2);

    var vectorSource = new ol.source.Vector({
      features: [iconFeature, iconFeature2]
    });

    var vectorLayer = new ol.layer.Vector({
      source: vectorSource
    });


//moastrar mapa
    var map = new ol.Map({
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }), vectorLayer
      ],
      target: 'mapa',
      view: new ol.View({
        center: ol.proj.transform([-78.516235, -7.149137], 'EPSG:4326', 'EPSG:3857'),
        zoom: 12
      })
    });


    $("#verde").click(function () {

      var fs = vectorSource.getFeatures();
      for (var i = 0; i < fs.length; i++) {
        var name = fs[i].getProperties().name;

        if (name === $("#punto").val()) {
          fs[i].setStyle(iconStyle);
          io.socket.post("/mapa/cambio/",{punto:name,style:'1'});

        }
      }
    });

    $("#rojo").click(function () {

      var fs = vectorSource.getFeatures();
      for (var i = 0; i < fs.length; i++) {
        var name = fs[i].getProperties().name;

        if (name === $("#punto").val()) {
          fs[i].setStyle(iconStyle2);
          io.socket.post("/mapa/cambio/",{punto:name,style:'2'});
        }
      }
    });

  });

</script>
