<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="alert alert-primary" role="alert">
					<a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
					<a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
					<a href="/chat" class="btn btn-primary btn-sm">Chat</a>
				</div>
			</p>
		</div>
		<div class="col-md-4">			
			<p><h4>Editar mascota de <%= mascota.dueño.nombres %></h4></p>
			<form action="/mascota/update/<%= mascota.id %>" method="POST">
				<div class="form-group">
				  <label>Nombre:</label>
				  <input type="text" class="form-control" name="nombres" required="" value="<%= mascota.nombre %>">
				</div>
				<div class="form-group">
				  <label>Tipo:</label>
				  <input type="text" class="form-control" name="apellidos" required="" value="<%= mascota.tipo %>">
				</div>
				<div class="form-group">
				  <label>Dueño: <%= mascota.dueño.nombres + " " + mascota.dueño.apellidos %> </label>
				  <select class="form-control" name="dueño" required="">
					<option value="0">Cambiar dueño</option>
						<% _.each(personas, function(persona) { %>
							<option value="<%= persona.id%>"><%= persona.nombres + " " + persona.apellidos %></option>
						<% }) %>
				  </select>
				</div>
		      	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
		        <a href="/persona" type="button" class="btn btn-secondary">volver</a>
				<button type="submit" class="btn btn-success">Guardar</button>
		     </form>
		</div>
	</div>
</div>