<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				<div class="alert alert-primary" role="alert">
					<a href="/persona" class="btn btn-primary btn-sm">Lista de Personas</a>
					<a href="/mascota" class="btn btn-primary btn-sm">Lista de Mascotas</a>
					<a href="/chat" class="btn btn-primary btn-sm">Chat</a>
        <a href="/mapa" class="btn btn-primary btn-sm">Mapa</a>
				</div>
			</p>

			<p>
				<h1>Lista de Mascotas</h1>
			</p>
			<p>
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
				  <b>&#43;</b> Nueva Mascota
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content ">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Nueva Mascota</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <form action="/mascota/create" method="POST">
				      <div class="modal-body">
						  <div class="form-group">
						    <label>Tipo de Animal:</label>
						    <input type="text" class="form-control" name="tipo" required="">
						  </div>
						  <div class="form-group">
						    <label>Nombre:</label>
						    <input type="text" class="form-control" name="nombre" required="">
						  </div>
						  <div class="form-group">
  						    <label>Dueño:</label>
  						    <select class="form-control" name="dueño" required="">
  						    	<option value="0">Selecciona una persona</option>
  						    	<% _.each(personas, function(persona) { %>
  						      		<option value="<%= persona.id%>"><%= persona.nombres + " " + persona.apellidos %></option>
  						      	<% }) %>
  						    </select>
  						  </div>
				      </div>
				      <div class="modal-footer">
				      	<input type='hidden' name='_csrf' value='<%= _csrf %>'>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success">Guardar</button>
				      </div>
				      </form>
				    </div>
				  </div>
				</div>
			</p>
			<table class="table table-hover">
				<thead>
				  <tr>
				    <th>#</th>
				    <th>Animal</th>
				    <th>Nombre</th>
				    <th>Dueño</th>
				    <th>Acciones</th>
				  </tr>
				</thead>
				<tbody>
				  <% _.each(mascotas, function(mascota) { %>
				  <tr data-id="<%= mascota.id %>" data-model="mascota">
				    <th scope="row"><%= mascota.id %></th>
				    <td><%= mascota.tipo %></td>
				    <td><%= mascota.nombre %></td>
				    <td><%= mascota.dueño.nombres %></td>
				    <td>
				    	<a href="/mascota/edit/<%= mascota.id %>" class="btn btn-warning btn-sm"> Actualizar</a>
				    	<a href="/mascota/destroy/<%= mascota.id %>" class="btn btn-danger btn-sm"> Eliminar</a>
				    </td>
				  </tr>
				  <% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>
